<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Asia</h4>
                    </div>
                    <div class="card-body">
                        <div id="continent-map" class="continent-map"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="country-datainfo">
                            <div id="country_flag"></div>
                            <h3 class="mb-0" id="country_name"></h3>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="country-data">
                            <div class="icon gradient-1">
                                <i class="fas fa-virus"></i>
                            </div>
                            <div>
                                <span>Total Cases</span>
                                <h3 id="country_cases"></h3>
                            </div>
                        </div>
                    </div>

                    
                    <div class="col-xl-6">
                        <div class="country-data">
                            <div class="icon gradient-3">
                                <i class="fas fa-bell"></i>
                            </div>
                            <div>
                                <span>Today Cases</span>
                                <h3 id="country_todayCases"></h3>
                            </div>
                        </div>
                    </div>

                    
                    <div class="col-xl-6">
                        <div class="country-data">
                            <div class="icon gradient-9">
                                <i class="fas fa-procedures"></i>
                            </div>
                            <div>
                                <span>Total Deaths</span>
                                <h3 id="country_deaths"></h3>
                            </div>
                        </div>
                    </div>

                    
                    <div class="col-xl-6">
                        <div class="country-data">
                            <div class="icon gradient-12">
                                <i class="fas fa-bed"></i>
                            </div>
                            <div>
                                <span>Today Deaths</span>
                                <h3 id="country_todayDeaths"></h3>
                            </div>
                        </div>
                    </div>

                    
                    <div class="col-xl-6">
                        <div class="country-data">
                            <div class="icon gradient-4">
                                <i class="fas fa-child"></i>
                            </div>
                            <div>
                                <span>Recovered</span>
                                <h3 id="country_recovered"></h3>
                            </div>
                        </div>
                    </div>


                    <div class="col-xl-6">
                        <div class="country-data">
                            <div class="icon gradient-8">
                                <i class="fas fa-head-side-cough"></i>
                            </div>
                            <div>
                                <span>Active</span>
                                <h3 id="country_active"></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="country-data">
                            <div class="icon gradient-14">
                                <i class="fas fa-lungs-virus"></i>
                            </div>
                            <div>
                                <span>Critical</span>
                                <h3 id="country_critical"></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="country-data">
                            <div class="icon gradient-15">
                                <i class="fas fa-vial"></i>
                            </div>
                            <div>
                                <span>Cases Per Million</span>
                                <h3 id="country_casesPerOneMillion"></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="country-data">
                            <div class="icon gradient-9">
                                <i class="fas fa-skull"></i>
                            </div>
                            <div>
                                <span>Deaths Per Million</span>
                                <h3 id="country_deathsPerOneMillion"></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>