<div id="main-wrapper">

	<div class="header">
	    <div class="container-fluid">
	        <div class="row">
	            <div class="col-xl-12">
	                <nav class="navbar navbar-expand-lg navbar-light">
	                    <a class="navbar-brand" href="#" onclick="return false;" (click)="goToPage('')"><img src="assets/images/logo.png" alt="">
	                        <span>Covid19</span></a>
	                    <button class="navbar-toggler" type="button" data-toggle="collapse"
	                        data-target="#navbarSupportedContent">
	                        <span class="navbar-toggler-icon"></span>
	                    </button>

	                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	                        <ul class="navbar-nav">
	                            <li class="nav-item">
	                                <span><i class="fas fa-tachometer-alt"></i></span>
	                                <a class="nav-link" href="#" onclick="return false;" (click)="goToPage('')"> Dashboard </a>
	                            </li>
	                            <li class="nav-item">
	                                <span><i class="fas fa-layer-group"></i></span>
	                                <a class="nav-link" href="widgets.html">Widget</a>
	                            </li>
	                            <li class="nav-item">
	                                <span><i class="fas fa-chart-area"></i></span>
	                                <a class="nav-link" href="charts.html">Charts</a>
	                            </li>
	                            <li class="nav-item dropdown">
	                                <span><i class="fas fa-globe-europe"></i></span>
	                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
	                                    Continent
	                                </a>
	                                <div class="dropdown-menu">
	                                    <a class="dropdown-item" href="/world" onclick="return false;" (click)="goToPage('world')">World</a>
	                                    <a class="dropdown-item" href="/asia" onclick="return false;" (click)="goToPage('asia')">Asia</a>
	                                    <a class="dropdown-item" href="/europe" onclick="return false;" (click)="goToPage('europe')">Europe</a>
	                                    <a class="dropdown-item" href="/africa" onclick="return false;" (click)="goToPage('africa')">Africa</a>
	                                    <a class="dropdown-item" href="#" onclick="return false;" (click)="goToPage('autralia')">Australia</a>
	                                    <a class="dropdown-item" href="#" onclick="return false;" (click)="goToPage('southafrica')">South America</a>
	                                    <a class="dropdown-item" href="#" onclick="return false;" (click)="goToPage('northafrica')">North America</a>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
	                    
	                </nav>
	            </div>
	        </div>
	    </div>
	</div>

	<router-outlet></router-outlet>

</div>